<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="./cr_timetable.js"></script>
    
</head>
<body>
    <div style="margin-right: 150px">  
      <form method="GET" id="sever">
      <table class="time" width=500px style="color: #121212; border-collapse: collapse; border-radius: 10px; table-layout: fixed; height:500px;">
        <thead>
          <tr>
              <th></th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
          </tr>
          <tr>
              <th>
                  <div class="hours">
                      <div style="height: 60px; top: 480px; line-height: 60px;">1</div>
                      <div style="height: 60px; top: 540px; line-height: 60px;">2</div>
                      <div style="height: 60px; top: 630px; line-height: 60px;">3</div>
                      <div style="height: 60px; top: 720px; line-height: 60px;">4</div>
                      <div style="height: 60px; top: 810px; line-height: 60px;">5</div>
                      <div style="height: 60px; top: 900px; line-height: 60px;">6</div>
                      <div style="height: 60px; top: 1080px; line-height: 60px;">7</div>
                      <div style="height: 60px; top: 1170px; line-height: 60px;">8</div>
                      <div style="height: 60px; top: 1260px; line-height: 60px;">9</div>
                  </div>
              </th>
              <!-- <td>
                  <div id="Mon" class="cols" style="width: 70px;"></div>
              </td>
              <td> 
                  <div id="Tue" class="cols" style="width: 70px; height: 60px; top: 900px; background-color: rgb(88, 163, 88);">
                      형식언어및오토마타
                  </div>
              </td>
              <td>
                  <div id="Wed" class="cols" style="width: 70px;"></div>
              </td>
              <td> 
                  <div id="Thu" class="cols" style="width: 70px;"></div>
              </td>
              <td> 
                  <div id="Fri" class="cols" style="width: 70px;"></div>
              </td> -->
          </tr>

      </thead>  
      </table>
    </div>
    <style>
      table{
        border-collapse: separate;
        border-spacing: 0 1rem;
      }
      th{
          height: 5px;
          width: 10px;
      }
      td {
          width: 75px;
          height: 62.7px;
          font-size: 10pt;

          border: 4px solid rgb(254,228,171);
          border-collapse: collapse;
      }
    </style>
    <script>
      function btn(sample){ alert(sample); }
    </script>
    <script>
      var num = 1;
      var day = 1;

      $(function(){
        var target = $('#target');
        $.getJSON('subject.json', function(subjects){
          var add_data = '';
          $.each(subjects, function(i, subject){
            if(day % 5 == 1){
              add_data += '<tr>';
              add_data += '<th>';
              add_data += num;
              add_data += '</th>';
            }
            
            if(day < 6){
              add_data += '<td>';
              add_data += num;
              add_data += '<br>';
              add_data += subject.name;
              add_data += '<br>';
              add_data += subject.professor;
              add_data += '<br>';
              add_data += day;
              add_data += '</td>';
              // for(i=day; i<5;i++){
              //   add_data += '<td>';
              //     add_data += '</td>';
              //   }
              day = day + 1;

            }
            else{
              add_data += '<tr>';
                add_data += '<th>';
                add_data += "else";
                add_data += num;
                add_data += '</th>';
                add_data += '<td>';
                add_data += subject.name;
                add_data += '<br>';
                add_data += subject.professor;
                add_data += '</td>';
              num = num + 1;
              if(day % 5 == 0){
                add_data += '</tr>';
              }
            }

            target.append(add_data);
          });
        });
      });
    </script>

</body>

</html>
