<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="brownMain2.css">
    <link rel="stylesheet" href="../topbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" href="./GRACURRI_LOGO.png">
    <title>GRACURRI</title>
</head>
<body>
    <div class= "parent">
        <div class="topbar">
            <div class="Gname">
                <b>Gracurri</b>
            </div>
            <div class="btns">
                <a href="" id="btn1">About us </a>
                <a href="../signin_img/sign_in.html" id="btn3">로그인</a>
                <button type="button" onclick = "location.href='../signup_img/sign_up.html'" class="signupbtn" id="btn4">회원가입</button>
            </div>
        </div>
        
        <div class="inner-box">
            <div class="sauce">
            </div>
            <div class="cheese">
                <table class="time" width=400 height="600" style="color: #121212; border-collapse: collapse; border-radius: 10px;">
                    <tr width=19%>    <!-- 첫번째 열 -->
                        <th></th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                      </tr>
                      <tr>
                        <th>9</th>
                        <td></td>
                        <td rowspan="2" style="background-color: #ecc369">Practical English A2</td>
                        <td rowspan="2" style="background-color: #f08676">해부생리학2</td>
                        <td rowspan="2" style="background-color: #70a5e9">Practical English A4</td>
                        <td rowspan="2" style="background-color: #75ca87">다문화가족건강</td>
                      </tr>
                      <tr>
                        <th>10</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>11</th>
                        <td style="background-color: #f08676">
                          <button id=test name="test" value="해부생리학2" onclick="javascript:btn('해부생리학2')" style="background-color: transparent; border:none" >해부생리학2</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td rowspan="2" style="background-color: #d397ed">창조와 몰입</td>
                      </tr>
                      <tr>
                        <th>12</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>1</th>
                        <td></td>
                        <td rowspan="2" style="background-color: #a6c96f">삶과 철학</td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>2</th>
                        <td></td>
                        <td rowspan="2" style="background-color: #7ad1c0">인간행동과심리</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>3</th>
                        <td></td>
                        <td></td>
                        <td rowspan="2" style="background-color: #fbaa69">문학의이해</td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>4</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td rowspan="3" style="background-color: #9d86e0">의료보건글쓰기</td>
                      </tr>
                      <tr>
                        <th>5</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td rowspan="2" style="background-color: #f08676">노인심리학</td>
                      </tr>
                      <tr>
                        <th>6</th>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>        </tr>
                </table>
            </div>
        </div>
    </div>
    <style>
      table{
        border-collapse: separate;
        border-spacing: 0 1rem;
      }
      th{
          height: 5px;
      }
      td {
          width: 75px;
          height: 60px;

          border: 4px solid rgb(254,228,171);
          border-collapse: collapse;
      }
    </style>
    <script>
      function btn(sample){ alert(sample); }
    </script>
    

</body>

</html>
