<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="./cr_timetable.js"></script>
</head>
<body>
    <div style="margin-right: 80px">      
      <table class="time"  style="color: #121212; border-collapse: collapse; border-radius: 10px; ">
          <tr width=19% height=90%>    <!-- 첫번째 열 -->
              <th></th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
            </tr>
            <tr>
              <th>1</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>2</th>
              <td></td>
              <td></td>
              <td style="background-color: #9c5d0a">인공지능</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>3</th>
              <td></td>
              <td></td>
              <td></td>
              <td rowspan="2" style="background-color: #0b8300;">운영체제</td>
              <td></td>
            </tr>
            <tr>
              <th>4</th>
              <td></td>
              <td style="background-color: #eb7dd8">자료구조</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>5</th>
              <td></td>
              <td style="background-color: #f8b332">데이터 베이스</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>6</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="background-color: #eca4c6">알고리즘</td>
            </tr>
            <tr>
              <th>7</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>8</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th>9</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tr>        
        </table>
    </div>
    <style>
      table{
        border-collapse: separate;
        border-spacing: 0 1rem;
      }
      th{
          height: 5px;
          width: 10px;
      }
      td {
          width: 75px;
          height: 62.7px;

          border: 4px solid rgb(254,228,171);
          border-collapse: collapse;
      }
    </style>
    <script>
      function btn(sample){ alert(sample); }
    </script>
    

</body>

</html>
