<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    
    <script src="./cr_timetable.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>   
    <link rel="stylesheet" href="cr_timetable.css">
    <link rel="stylesheet" href="timetable.css">
    <link rel="stylesheet" href="../topbar.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="icon" href="./GRACURRI_LOGO.png">
    <title>GRACURRI</title>
</head>

<body onload = "new Swiper('.swiper-container');">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
    <div class="parent">

        <div class="topbar">
            <div class="Gname">
                <b>Gracurri</b>
            </div>
            <div class="btns">
                <a href="" id="btn1">About us </a>
                <a href="http://localhost:3000/realmain" id="btn3">로그인</a>
                <div id="loginDone"></div>
                <button type="button" onclick = "location.href='localhost:3000/signup'" class="signupbtn" id="btn4">회원가입</button>    
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="inner-box" >  
                        <div class="text"></div>
                        
                        <div class="bread-bm">
                            <form method="GET" id="sever">
                            <div class="grade grade1">
                                <!-- onclick = "location.assign = ('localhost:3000/grade_sub')" -->
                                <p id="11" value="11" button type="button" class="textgrade">1-1</p>
                            </div>
                            <div class="grade">
                                <p id="12" value="12" button type="button" onclick = "location.href='localhost:3000/grade_sub'" class="textgrade">1-2</p>
                            </div>
                            <div class="grade">
                                <p id="21" value="21" button type="button" onclick = "location.href='localhost:3000/grade_sub'" class="textgrade">2-1</p>
                            </div>
                            <div class="grade">
                                <p id="22" value="22" button type="button" onclick = "location.href='localhost:3000/grade_sub'" class="textgrade">2-2</p>
                            </div>
                            <div class="grade">
                                <p id="31" value="31" button type="button" onclick = "location.href='localhost:3000/grade_sub'" class="textgrade">3-1</p>
                            </div>
                            <div class="grade">
                                <p id="32" value="32" button type="button" onclick = "location.href='localhost:3000/grade_sub'" class="textgrade">3-2</p>
                            </div>
                            <div class="grade">
                                <p id="41" value="41" button type="button" onclick = "location.href='localhost:3000/grade_sub'" class="textgrade">4-1</p>
                            </div>
                            <div class="grade">
                                <p id="42" value="42" button type="button" onclick = "location.href='localhost:3000/grade_sub'" class="textgrade">4-2</p>
                            </div>
                        </div> 
                        <div class="sauce">
                            <button class="make" value="show" id="maketable" onclick="javascript:show()" style="margin-left: 50px;">
                                <b>이번 학기</b><br>
                                시간표<br>
                                만들기
                            </button>
                        </div> 
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="inner-box">
                        <div class="sauce2"></div>
                        <div class="cheese" id="headers"></div>
                    </div>
                </div>
                </div>
    
            </div>
        </div>
    </div>
    <script src="./timetable.js"></script>
    <script>
        const doc = document;
        //쿠키
        function getCookie(name) {
            let matches = document.cookie.match(new RegExp(
                            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
                        ));
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }


        doc.getElementById('loginDone').innerText = getCookie('userid') + "님"
        doc.getElementById('btn3').style.display = "none"
        doc.getElementById('btn4').style.display = "none"
    </script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"  type="text/javascript" >
    // jquery

    // 출처: https://araikuma.tistory.com/640 [프로그램 개발 지식 공유]
        $.ajax({ 
            url: "/rest/1/pages/245", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소
            data: { name: "1-1" }, // HTTP 요청과 함께 서버로 보낼 데이터
            method: "GET", // HTTP 요청 메소드(GET, POST 등) 
            dataType: "json" // 서버에서 보내줄 데이터의 타입 
        }) 
        // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨. 
        .done(function(json) { 
            $("<h1>").text(json.title).appendTo("body"); 
            $("<div class=\"content\">").html(json.html).appendTo("body"); 
        }) 
        // HTTP 요청이 실패하면 오류와 상태에 관한 정보가 fail() 메소드로 전달됨. 
        .fail(function(xhr, status, errorThrown) { 
            $("#text").html("오류가 발생했다.<br>") 
            .append("오류명: " + errorThrown + "<br>") 
            .append("상태: " + status); 
        }) 
        // 
        .always(function(xhr, status) { 
            $("#text").html("요청이 완료되었습니다!"); 
        });
    </script>
    <script type="text/javascript">
    // 버튼 클릭시
    function show(){
        // 시간표 띄우기
        $("#headers").load("cr_timetable.html");
    }
    </script>
    <button name="ok" value="<?=$groupMemberManageIDX?>;o">승인</button>

</body>

</html>
</html>